.scheduleContainer {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 1vh;
  justify-content: space-between;
  padding-bottom: 50px;
  @media screen and (max-width: 786px) {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
}

.yearNavigator {
  width: 15%;
  @media screen and (max-width: 786px) {
    overflow: scroll;
    width: 100%;
    padding: 0;
    display: flex;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    ::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
  }
}

.year {
  font-size: 15px;
  padding: 10px;
  &:hover {
    background-color: gray;
    color: white;
    transition: 0.5s;
    cursor: pointer;
  }
  @media screen and (max-width: 786px) {
    width: 50%;
    &:hover {
      transition: 0s;
    }
  }
}

.scheduleList {
  width: 83%;
  @media screen and (max-width: 786px) {
    width: 100%;
  }
}

.scheduleCard {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  min-height: 200px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid black;
  &:hover {
    border: 3px solid black;
    padding: 8px 7px 7px 7px;
  }
  @media screen and (max-width: 786px) {
    display: block;
  }
}

.concertDate {
  width: 40%;
  opacity: 0.6;
  span {
    font-size: 30px;
  }
  @media screen and (max-width: 786px) {
    width: 100%;
  }
}

.concertInformation {
  width: 60%;
  font-size: 20px;
  @media screen and (max-width: 786px) {
    width: 100%;
  }
  padding-bottom: 20px;
}

.buyTickets {
  border: 1px solid black;
  padding: 5px;
  color: black;
  text-decoration: none;
}

.currentYearTitle {
  text-align: center;
  font-size: 30px;
  height: 5vh;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
  @media screen and (max-width: 786px) {
    border-bottom: none;
  }
}

.city {
  font-size: 25px;
}
