.scheduleContainer {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 1vh;
  justify-content: space-between;
  padding-bottom: 50px;
  @media screen and (max-width: 786px) {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
}

.yearNavigator {
  width: 15%;
  position: sticky;
  top: 80px;
  @media screen and (max-width: 786px) {
    overflow: scroll;
    width: 100%;
    padding: 0;
    display: flex;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    ::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
  }
}

.year {
  font-size: 15px;
  padding: 10px;
  border-radius: 6px;
  &:hover {
    background-color: gray;
    color: white;
    transition: 0.5s;
    cursor: pointer;
  }
  @media screen and (max-width: 786px) {
    width: 50%;
    &:hover {
      transition: 0s;
    }
  }
}

.yearActive {
  background-color: black;
  color: white;
}

.scheduleList {
  width: 83%;
  @media screen and (max-width: 786px) {
    width: 100%;
  }
}

.scheduleCard {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  min-height: 200px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid black;
  @media screen and (max-width: 786px) {
    display: block;
  }
}

.concertDate {
  width: 40%;
  opacity: 0.6;
  .dateBadge {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
  }
  .dateDay {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
  }
  .dateMonth {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }
  @media screen and (max-width: 786px) {
    width: 100%;
  }
}

.concertInformation {
  width: 60%;
  font-size: 20px;
  @media screen and (max-width: 786px) {
    width: 100%;
  }
  padding-bottom: 20px;
}

.buyTickets {
  border: 1px solid black;
  padding: 8px 12px;
  color: white;
  background: black;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease;
  &:hover {
    background: white;
    color: black;
    transform: translateY(-1px);
  }
}

.currentYearTitle {
  text-align: center;
  font-size: 30px;
  height: 5vh;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
  @media screen and (max-width: 786px) {
    border-bottom: none;
  }
}

.city {
  font-size: 25px;
}

.noConcerts {
  margin-top: 20px;
  font-style: italic;
  opacity: 0.7;
}

.loading {
  margin-top: 20px;
  opacity: 0.8;
}
