.projectContainer {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 1vh;
  padding-bottom: 50px;
  @media screen and (max-width: 786px) {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
}

.projectNavigator {
  width: 15%;
  position: sticky;
  top: 80px;
  @media screen and (max-width: 786px) {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.projectContent {
  width: 83%;
  font-size: 17px;
}

.project {
  font-size: 15px;
  padding: 10px;
  text-align: left;
  &:hover {
    background-color: gray;
    color: white;
    transition: 0.5s;
    cursor: pointer;
  }
  @media screen and (max-width: 786px) {
    width: 50%;
    font-size: 15px;
    &:hover {
      transition: 0s;
    }
  }
}

.projectActive {
  background-color: black;
  color: white;
}
