.appContentContainer {
  width: 100%;
  margin: auto;
  min-height: 80vh;
}

.navbar {
  background-color: rgba($color: #000000, $alpha: 0.64); 
}
.navbarContent {
  min-height: 10vh;
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 600px) {
    display: block;
    margin: auto;
    width: 100%;
  }
}

.logoContainer {
  @media screen and (max-width: 600px) {
    display: flex;
    justify-content: center;
  }
  .logo {
    width: 200%;
    height: auto;
    @media screen and (max-width: 600px) {
      margin: auto;
      width: 100%;
    }
  }
}


.links {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  a {
    text-decoration: none;
    color: white;
    font-size: 100%;
    padding-left: 20px;
  }
  @media screen and (max-width: 600px) {
    display: none;
    flex-flow: column nowrap;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    padding-top: 3.5rem;
    li {
      color: white;
    }
  }
}
