.aboutContainer {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 5vh;
  @media screen and (max-width: 786px) {
    display: block;
    width: 90%;
    text-align: center;
  }
}

.aboutPhoto {
  width: 50%;
  float: right;
  padding-left: 10px;
  @media screen and (max-width: 786px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.aboutBio {
  line-height: 25px;
  margin: 0;
}

.sideNav {
  width: 10%;
  font-size: 15px;
  padding: 10px;
  @media screen and (max-width: 786px) {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .links {
    padding: 10px;
    &:hover {
      background-color: gray;
      color: white
    }
    @media screen and (max-width: 786px) {
      font-size: 20px;
    }
  }
}

.aboutContent {
  width: 85%;
  @media screen and (max-width: 786px) {
    width: 100%;
  }
}

.sponsors {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 786px) {
    display: block;
  }
  img {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50px;
    @media screen and (max-width: 786px) {
      height: 40%;
      width: 40%;
      padding: 5%;
      margin: 0;
    }
  }
}

.awardsContainer {
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 786px) {
    display: block;
  }
  .highlightedPerformances {
    width: 50%;
    text-align: center;
    
    .highlightedPerformancesTitle {
      margin: auto;
      font-size: 25px;
      border-bottom: 1px solid black;
      width: 70%;
      padding: 5px;
      @media screen and (max-width: 786px) {
        width: 100%;
        margin-top: 10px;
        border-top: 1px solid black;
      }
    }
    p {
      font-size: 15px;
    }
  }
  .awards {
    .awardsTitle {
      margin: auto;
      font-size: 25px;
      border-bottom: 1px solid black;
      width: 70%;
      padding: 5px;
      @media screen and (max-width: 786px) {
        width: 100%;
        margin-top: 10px;
        border-top: 1px solid black;
      }
    }
    p {
      font-size: 15px;
    }
    width: 50%;
    text-align: center;
    
  }
}

.repertoireTitle {
  margin: auto;
  font-size: 25px;
  border-bottom: 1px solid black;
  width: 70%;
  padding: 5px;
  text-align: center;
  @media screen and (max-width: 786px) {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid black;
  }
}

.repertoireTypeTitle {
  @extend .repertoireTitle;
  margin-top: 1em;
  font-size: 20px;
}

.repertoireName {
  text-align: center;
}

.adeuxTitle {
  @extend .repertoireTitle;
}

.adeuxPhoto {
  @extend .aboutPhoto;
  margin-top: 1em;
}
