.aboutContainer {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.aboutPhoto {
  max-height: 350px;
  float: right;
  padding-left: 10px;
}

.aboutBio {
  line-height: 25px;
  margin: 0;
}

.sideNav {
  width: 10%;
  margin: 0;
  a {
    text-decoration: none;
    color: black;
  }
  .links {
    padding: 10px;
  }
}

.aboutContent {
  width: 85%;
}


