.aboutContainer {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 5vh;
}

.aboutPhoto {
  width: 50%;
  float: right;
  padding-left: 10px;
}

.aboutBio {
  line-height: 25px;
  margin: 0;
}

.sideNav {
  width: 10%;
  font-size: 15px;
  padding: 10px;
  a {
    text-decoration: none;
    color: black;
  }
  .links {
    padding: 10px;
    &:hover {
      background-color: gray;
      color: white
    }
  }
}

.aboutContent {
  width: 85%;
}

.sponsors {
  display: flex;
  justify-content: space-between;
  img {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50px;
  }
}

.awardsContainer {
  display: flex;
  justify-content: space-evenly;
  .highlightedPerformances {
    width: 50%;
    text-align: center;
    .highlightedPerformancesTitle {
      margin: auto;
      font-size: 25px;
      border-bottom: 1px solid black;
      width: 70%;
      padding: 5px;
    }
    p {
      font-size: 15px;
    }
  }
  .awards {
    .awardsTitle {
      margin: auto;
      font-size: 25px;
      border-bottom: 1px solid black;
      width: 70%;
      padding: 5px;
    }
    p {
      font-size: 15px;
    }
    width: 50%;
    text-align: center;
  }
}
