.contactContainer {
  display: flex;
  margin: auto;
  @media screen and (max-width: 786px) {
    width: 100%;
    display: block;
  }
}

.contactTitle {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  @media screen and (max-width: 786px) {
    width: 100%;
    display: block;
    margin: auto;
    padding: 20px;
  }
}
