.navbar {
  background-color: rgba($color: gray, $alpha: 0.5);
}
.navbarContent {
  min-height: 10vh;
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  @media screen and (max-width: 786px) {
    display: flex;
    margin: auto;
    width: 100%;
  }
}

.logoContainer {
  z-index: 30;
  @media screen and (max-width: 786px) {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .logo {
    width: 200%;
    height: auto;
    @media screen and (max-width: 786px) {
      margin: auto;
      width: 250px;
    }
  }
}
