.navbar {
  background-color: brown; 
}
.navbarContent {
  margin: auto;
  width: 80%;
  background-color: red; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  width: auto;
}

.links {
  a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
  }
}