.footer {
  background-color: rgba($color: #000000, $alpha: 0.64); 
  display: flex;
  justify-content: center;
  position: sticky; 
  left: 0 ; right: 0; bottom: 0; 
  height: auto; 
  img {
    padding: 20px;
  }
}