.footer {
  background-color: rgba($color: gray, $alpha: 0.5);
  display: flex;
  position: sticky;
  @media screen and (max-width: 786px) {
    position: relative;
  }
  left: 0;
  right: 0;
  bottom: 0;
  height: 10vh;
  align-items: center;
  img {
    padding: 1em;
  }
  .socialLinks {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
